a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}
.bodyWrapper {
  height: 1000px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  margin-top: 35px;
  font-size: 40px;
  margin-bottom: 30px;
  font-family: "Lobster", cursive;
  font-weight: bold;
}

.wrapper {
  position: relative;
  width: 390px;
  height: 480px;
  background-color: #fafafa;
}

.container {
  position: absolute;
  margin: 20px 20px 20px 20px;
  width: 350px;
  height: 440px;

  border: 1px solid #dbdbdb;
  margin-bottom: 0.6rem;
  background-color: #fff;
}

input {
  width: 250px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  outline-color: gray;
  background-color: #fafafa;
}
#id {
  margin-top: 20px;
  margin-bottom: 7px;
}

input:nth-child(2) {
  margin-bottom: 10px;
}
footer {
  position: relative;
  top: 130px;
  color: rgba(var(--fe0, 0, 55, 107), 1);
  font-size: 12px;
  text-align: center;
}

.btn {
  width: 250px;
  padding: 7px;
  margin-top: 12px;
  background-color: #b9dffc;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.findpsw {
  color: navy;
}
