@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSort($justify, $alignItems) {
  display: flex;
  justify-content: $justify;
  align-items: $alignItems;
}
