.aside {
  margin-top: 50px;
  width: 260px;

  header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid black;
    }
    .header-info {
      margin-left: 10px;

      .header-name {
        font-weight: bold;
        margin-bottom: 5px;
      }
      .header-description {
        color: gray;
      }
    }
  }

  .story-container {
    height: 230px;
    border: 1px solid lightgrey;
    background-color: white;
    overflow: scroll;

    .story-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      font-weight: bold;
      .story-name {
        color: gray;
      }
    }
  }

  .user-container {
    border: 1px solid lightgrey;
    margin: 20px 0;
    background-color: white;
    .user-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      font-weight: bold;
      .user-name {
        color: gray;
      }
    }
  }
  .aside-info-container {
    color: lightgrey;
    font-weight: 600;
  }
}
