@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  border-bottom: 1px solid lightgrey;
  img {
    width: 40px;
  }
  .nav-left {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 24px;
    p {
      display: flex;
      align-items: center;
      height: 30px;
      margin-left: 10px;
      padding-left: 10px;
      border-left: 3px solid black;
      font-family: "Lobster", cursive;
    }
  }
  .nav-center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      position: absolute;
      width: 15px;
      left: 70px;
    }
    input {
      height: 30px;
      width: 200px;
      text-align: center;
      border: 1px solid lightgrey;
      color: lightgrey;
    }
  }
  .nav-right {
    img {
      margin: 0 10px;
    }
  }
}
